pipeline/Incremental data loading End to End including Databricks notebook.json
{
	"name": "Incremental data loading End to End including Databricks notebook",
	"properties": {
		"activities": [
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from Water_mark_table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_sink_ds",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "Water_mark_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Current_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(Date_ID) as max_date from source_cars_data;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_sink_ds",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_data_from_sql_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from source_cars_data where Date_ID > '@{activity('last_load').output.value[0].last_load}' AND Date_ID <= '@{activity('Current_load').output.value[0].max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_sink_ds",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet_sink_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored_procedure_water_mark_update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data_from_sql_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_Water_mark_table]",
					"storedProcedureParameters": {
						"lastload": {
							"value": {
								"value": "@activity('Current_load').output.value[0].max_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Stored_procedure_water_mark_update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/Silver layer"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_dim_model",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/gold_dim_model"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_dim_branch",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/gold_dim_branch"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_dim_dealer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/gold_dim_dealer"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_dim_date",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/gold_dim_date"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_fact_sales",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_dim_branch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Notebook_dim_model",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Notebook_dim_dealer",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Notebook_dim_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/CarsProject/gold_fact_sales"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-08T18:24:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}